*{
    margin: 0;
    padding: 0;
    font-family: "Scope One",sans-serif;
}
nav{
    background-color: lightskyblue;
    overflow: hidden;
}
nav ul{
    float: right;
    padding: 10px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    font-size: 18px;
    color: white;
    padding: 20px 25px;
    text-decoration: none;
}
.logo{
    float: left;
    padding: 10px;
}
.logo a{
    font-family: "Roboto Light",sans-serif;
    font-size: 18px;
    color: white;
    padding: 20px 25px ;
    text-decoration: none;
}
.button{
    display: none;
}
.div1{
    background: linear-gradient(lightskyblue,lightblue);
    width: auto;
    height: 550px;
}
.div2{
    width: 50%;
    padding: 40px;
    float: left;
}
.div2 h1{
    color: white;
    font-size: 50px;
    padding-top: 90px;
}
.div2 p{
    color: white;
    font-size:18px;
    padding: 15px 0;
}
.button1{
    font-size: 17px;
    color: black;
    padding: 10px;
    border: 1px solid white;
    outline: none;
    background-color: white;
    margin: 30px 0;
}
.button2{
    font-size: 17px;
    color: white;
    padding: 10px;
    border: 1px solid white;
    outline: none;
    margin: 30px 19px;
}
.button2:hover{
    font-size: 17px;
    color: black;
    padding: 10px;
    border: 1px solid white;
    outline: none;
    background-color: white;
    margin: 30px 19px;
}
.div3{
    width: 40%;
    float: right;
    padding-top: 80px;
}
.div{
    clear: both;
}
.div4{
    background-color: #eeeeee;
    width: auto;
    height: 460px;
    padding: 40px 0;
}
.div5{
    text-align: center;
    padding: 10px 0 40px 0;
}
.div5 h1{
    padding-top: 30px;
    font-size: 35px;
    color: black;
}
.div5 p{
    padding: 30px;
    font-size: 18px;
    color: black;
}

.div6{
    width: 32%;
    float: left;
    text-align: center;
}
.div7{
    width: 32%;
    float: right;
    text-align: center;
}
.div8{
    width: 32%;
    float: right;
    text-align: center;
}
.div6 i{
    font-size: 30px;
    border: 2px solid black;
    padding: 10px;
}
.div7 i{
    font-size: 30px;
    border: 2px solid black;
    padding: 10px;
}
.div8 i{
    font-size: 30px;
    border: 2px solid black;
    padding: 10px;
}
.div6 h1{
    font-size: 30px;
    padding: 10px;
}
.div7 h1{
    font-size: 30px;
    padding: 10px;
}
.div8 h1{
    font-size: 30px;
    padding: 10px;
}
.div9{
    text-align: center;
    padding: 20px;
}
.div10 h1{
    font-size: 40px;
    padding: 20px;
}
.div10 p{
    font-size: 18px;
    padding: 20px;
}
.div11{
    padding-top: 40px;
}
.div12{
    float: left;
    width: 50%;
    padding-left: 40px;
}
.div12 h1{
    font-family: "Scope One",sans-serif;
    font-size: 45px;
}
.div12 h6{
    font-family: "Scope One",sans-serif;
    font-size: 24px;
    padding: 15px 0;
}
.div12 p{
    font-family: "Scope One",sans-serif;
    font-size: 18px;
    padding: 20px 0;
}
.button3{
    font-size: 17px;
    color: black;
    padding: 10px;
    border: 1px solid black;
    outline: none;
    margin-top: 20px;
    text-decoration: none;
}
.div13{
    float: right;
    width: 40%;
}
.div14{
    background-color: lightblue;
    padding: 20px;
}
.div14 h1{
    font-family: "Scope One",sans-serif;
    font-size: 50px;
    color: white;
    padding: 20px;
    text-align: center;
}
.number{
    font-family: "Scope One",sans-serif;
    font-size: 35px;
    color: white;
    padding: 20px;
    text-align: center;
}
.text{
    font-family: "Scope One",sans-serif;
    font-size: 24px;
    color: white;
    padding: 18px;
    text-align: center;
}
.flex{
    display: flex;
    flex-direction: row;
}
.div15{
    flex: 1;
}
.div16{
    flex: 1;
}
.div17{
    flex: 1;
}
.div18{
    flex: 1;
}
.div19{
    padding: 50px 0;
}
.div20{
    padding-top: 40px;
}
.div21 h1{
    font-family: "Scope One",sans-serif;
    font-size: 45px;
    text-align: center;
    padding: 10px;
}
.div21 p{
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
.div22{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.div23 , .div24, .div25{
    flex: 1;
    border: 2px solid black;
    border-radius: 20px;
    padding: 60px;
    margin: 20px;
}
.div23 h1{
    font-size: 35px;
    padding: 4px;
    text-align: center;
}
.div24{
    background: linear-gradient(lightskyblue,lightblue);
    color: white;
    border: none;
}
.div24 h1{
    font-size: 35px;
    padding: 4px;
    text-align: center;
}
.div25 h1{
    font-size: 35px;
    padding: 4px;
    text-align: center;
}
.div23 p{
    font-size: 29px;
    padding: 14px 0;
    text-align: center;
}
.div24 p{
    font-size: 29px;
    padding: 14px 0;
    text-align: center;
}
.div25 p{
    font-size: 29px;
    padding: 14px 0;
    text-align: center;
}
.div23 i{
   padding: 0 5px;
}
.div23 ul li{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding: 7px;
}
.div24 ul li{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding: 7px;
}
.div25 ul li{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding: 7px;
}
.button4{
    text-align: center;
    border: 1px solid black;
    border-radius: 40px;
    padding: 15px;
    color: black;
    margin: 40px;
    background: none;
    outline: none;
    font-size: 18px;
}
.button5{
    text-align: center;
    border: 1px solid lightskyblue;
    border-radius: 40px;
    padding: 15px;
    color: black;
    margin: 40px;
    background-color: white;
    outline: none;
    font-size: 18px;
}
.div23:hover{
    background: linear-gradient(lightskyblue,lightblue);
    color: white;
    border: none;
}
.div25:hover{
    background: linear-gradient(lightskyblue,lightblue);
    color: white;
    border: none;
}
.button4:hover{
    text-align: center;
    border: 1px solid white;
    border-radius: 40px;
    padding: 15px;
    color: black;
    margin: 40px;
    background-color: white;
    outline: none;
    font-size: 18px;
}
.button5:hover{
    text-align: center;
    border: 1px solid lightskyblue;
    border-radius: 40px;
    padding: 15px;
    color: white;
    margin: 40px;
    background-color: lightskyblue;
    outline: none;
    font-size: 18px;
}
.div26{
    display: flex;
    flex-direction: row;
    background: linear-gradient(lightskyblue,lightblue);
    color: white;
    padding: 20px 0;
}
.div27{
    flex: 4;
    padding: 40px;
}
.div27 h1{
    font-size: 35px;
}
.div28{
    flex: 1;
    padding: 20px;
}
.button6{
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
    color: black;
    background-color: white;
    outline: none;
    font-size: 18px;
}
.div29{
    padding: 60px 30px;
}
.div30{
    display: flex;
    flex-direction: row;
}
.div31{
    flex: 1.3;
}
.div32{
    flex: 1;
}
.div31 h1{
    font-size: 45px;
    padding: 5px 0;
}
.div31 h6{
    font-size: 20px;
    padding: 5px 0;
}
.div31 p{
    font-size: 18px;
    padding: 5px 0;
}







































@media screen and (max-width: 578px){
    nav{
        background-color: lightskyblue;
        overflow: hidden;
    }
    nav ul{
        width: 100%;
        float: left;
        padding: 10px;
        display: none;
    }
    nav ul li{
        display: block;
        list-style-type: none;
    }
    nav ul li a{
        width: 100%;
        font-family: "Roboto Light",sans-serif;
        font-size: 18px;
        color: white;
        padding: 20px 25px ;
        display: inline-block;
        text-decoration: none;
    }
    nav ul li a:hover{
        width: 100%;
        font-family: "Roboto Light",sans-serif;
        font-size: 18px;
        color: white;
        padding: 20px 25px ;
        background-color: black;
        display: inline-block;
        text-decoration: none;
    }
    .logo{
        float: left;
        padding: 10px;
    }
    .logo a{
        font-family: "Roboto Light",sans-serif;
        font-size: 18px;
        color: white;
        padding: 20px 25px ;
        text-decoration: none;
    }
    .button{
        border: 2px solid white;
        display: block;
        padding: 10px;
        float: right;
        margin-left: 190px;
        box-sizing: border-box;
    }
    .active{
        display: block;
    }
    .div1{
        background: linear-gradient(lightskyblue,lightblue);
        width: auto;
        height: 750px;
    }
    .div2{
        width: 78%;
        padding: 40px;
        float: left;
    }
    .div2 h1{
        color: white;
        font-size: 50px;
        padding-top: 90px;
    }
    .div2 p{
        color: white;
        font-size:18px;
        padding: 15px 0;
    }
    .button1{
        font-size: 17px;
        color: black;
        padding: 10px;
        border: 1px solid white;
        outline: none;
        background-color: white;
        margin: 30px 0;
    }
    .button2{
        font-size: 17px;
        color: white;
        padding: 10px;
        border: 1px solid white;
        outline: none;
        margin: 30px 19px;
    }
    .button2:hover{
        font-size: 17px;
        color: black;
        padding: 10px;
        border: 1px solid white;
        outline: none;
        background-color: white;
        margin: 30px 19px;
    }
    .div3{
        display: none;
    }
    .div3 img{
        display: none;
    }
    .div{
        clear: both;
    }
    .div4{
        background-color: #eeeeee;
        width: auto;
        height: 1050px;
    }
    .div5{
        text-align: center;
    }
    .div5 h1{
        padding-top: 30px;
        font-size: 35px;
        color: black;
    }
    .div5 p{
        padding: 30px;
        font-size: 18px;
        color: black;
    }
    .div6{
        width: 100%;
        text-align: center;
    }
    .div7{
        width: 100%;
        text-align: center;
    }
    .div8{
        width: 100%;
        text-align: center;
    }
    .div6 i{
        font-size: 30px;
        border: 2px solid black;
        padding: 10px;
        margin-top: 20px;
    }
    .div7 i{
        font-size: 30px;
        border: 2px solid black;
        padding: 10px;
        margin-top: 20px;
    }
    .div8 i{
        font-size: 30px;
        border: 2px solid black;
        padding: 10px;
        margin-top: 20px;
    }
    .div9{
        text-align: center;
        padding: 20px;
    }
    .div10 h1{
        font-size: 40px;
        padding: 20px;
    }
    .div10 p{
        font-size: 18px;
        padding: 20px;
    }
    .div11 img{
        width: 90%;
    }
    .div12{
        width: 70%;
        padding-left: 40px;
        float: left;
    }
    .div12 h1{
        font-family: "Scope One",sans-serif;
        font-size: 45px;
    }
    .div12 h6{
        font-family: "Scope One",sans-serif;
        font-size: 24px;
        padding: 15px 0;
    }
    .div12 p{
        font-family: "Scope One",sans-serif;
        font-size: 18px;
        padding: 20px 0;
    }
    .button3{
        font-size: 17px;
        color: black;
        padding: 10px;
        border: 1px solid black;
        outline: none;
        margin-top: 20px;
    }
    .div13{
        padding: 20px;
        width: 60%;
        float: left;
    }
    .div13 img{
        width: 150%;
    }
    .div14{
        background-color: lightblue;
        padding: 20px;
    }
    .div14 h1{
        font-family: "Scope One",sans-serif;
        font-size: 50px;
        color: white;
        padding: 20px;
        text-align: center;
    }
    .number{
        font-family: "Scope One",sans-serif;
        font-size: 35px;
        color: white;
        padding: 20px;
        text-align: center;
    }
    .text{
        font-family: "Scope One",sans-serif;
        font-size: 24px;
        color: white;
        padding: 18px;
        text-align: center;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .div15{
        flex: 1;
    }
    .div16{
        flex: 1;
    }
    .div17{
        flex: 1;
    }
    .div18{
        flex: 1;
    }
    .div19{
        padding: 50px 0;
    }
    .div20{
        padding-top: 40px;
    }
    .div21 h1{
        font-family: "Scope One",sans-serif;
        font-size: 45px;
        text-align: center;
        padding: 10px;
    }
    .div21 p{
        font-size: 20px;
        text-align: center;
        padding: 20px;
    }
    .div22{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .div23 , .div24, .div25{
        flex: 1;
        border: 2px solid black;
        border-radius: 20px;
        padding: 60px;
        margin: 20px;
    }
    .div23 h1{
        font-size: 35px;
        padding: 4px;
        text-align: center;
    }
    .div24{
        background: linear-gradient(lightskyblue,lightblue);
        color: white;
        border: none;
    }
    .div24 h1{
        font-size: 35px;
        padding: 4px;
        text-align: center;
    }
    .div25 h1{
        font-size: 35px;
        padding: 4px;
        text-align: center;
    }
    .div23 p{
        font-size: 29px;
        padding: 14px 0;
        text-align: center;
    }
    .div24 p{
        font-size: 29px;
        padding: 14px 0;
        text-align: center;
    }
    .div25 p{
        font-size: 29px;
        padding: 14px 0;
        text-align: center;
    }
    .div23 i{
        padding: 0 5px;
    }
    .div23 ul li{
        text-decoration: none;
        list-style-type: none;
        text-align: center;
        padding: 7px;
    }
    .div24 ul li{
        text-decoration: none;
        list-style-type: none;
        text-align: center;
        padding: 7px;
    }
    .div25 ul li{
        text-decoration: none;
        list-style-type: none;
        text-align: center;
        padding: 7px;
    }
    .button4{
        text-align: center;
        border: 1px solid black;
        border-radius: 10px;
        padding: 15px;
        color: black;
        margin: 40px;
        background: none;
        outline: none;
        font-size: 18px;
    }
    .button5{
        text-align: center;
        border: 1px solid lightskyblue;
        border-radius: 10px;
        padding: 15px;
        color: black;
        margin: 40px;
        background-color: white;
        outline: none;
        font-size: 18px;
    }
    .div23:hover{
        background: linear-gradient(lightskyblue,lightblue);
        color: white;
        border: none;
    }
    .div25:hover{
        background: linear-gradient(lightskyblue,lightblue);
        color: white;
        border: none;
    }
    .button4:hover{
        text-align: center;
        border: 1px solid white;
        border-radius: 10px;
        padding: 15px;
        color: black;
        margin: 40px;
        background-color: white;
        outline: none;
        font-size: 18px;
    }
    .button5:hover{
        text-align: center;
        border: 1px solid lightskyblue;
        border-radius: 10px;
        padding: 15px;
        color: white;
        margin: 40px;
        background-color: lightskyblue;
        outline: none;
        font-size: 18px;
    }
    .div26{
        display: flex;
        flex-direction: column;
        background: linear-gradient(lightskyblue,lightblue);
        color: white;
        padding: 20px 0;
    }
    .div27{
        flex: 4;
        padding: 40px;
    }
    .div27 h1{
        font-size: 35px;
    }
    .div28{
        flex: 1;
        padding: 0 50px;
    }
    .button6{
        text-align: center;
        border: 1px solid white;
        border-radius: 20px;
        padding: 15px;
        color: black;
        background-color: white;
        outline: none;
        font-size: 18px;
    }
    .div29{
        padding: 60px 30px;
    }
    .div30{
        display: flex;
        flex-direction: column;
    }
    .div31{
        flex: 1.3;
    }
    .div32{
        flex: 1;
    }
    .div32 img{
        width: 100%;
    }
    .div31 h1{
        font-size: 45px;
        padding: 5px 0;
    }
    .div31 h6{
        font-size: 20px;
        padding: 5px 0;
    }
    .div31 p{
        font-size: 18px;
        padding: 5px 0;
    }
}
